.signin_back{
    background-color: #1b1b1b !important;
}

.form_back1{
    padding-bottom: 30px;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    background-color:#252729 !important;
}


.input {
    
    box-sizing: border-box;
  } 

  .head{
    
    color: white;
    margin: 40px;
    padding: 10px;
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Teko', 'Oswald', sans-serif;
} 


.text-muted{
    /* font-weight: bold !important; */
    color: white !important;
    text-transform: uppercase;
    font-family: 'Teko', 'Oswald', sans-serif;
}

.tm{
    font-weight: bold !important;
    font-size: 17px;
    /* padding: 12px 40px !important; */
  
    text-transform: uppercase;
    font-family: 'Teko', 'Oswald', sans-serif;
    border-width: 2px;
}



.form-check-input{
    transform : scale(1.3); 
    
}
.form-check-label{
    color: white;
    font-family: Rajdhani,sans-serif;
}
.forget{
    color: white;
    font-family: Rajdhani,sans-serif;
    float: right;

}
.account{
    text-align: center;
    padding: 5px !important;
    margin: 3px;
    color: white;
    text-transform: uppercase;
    font-family: Rajdhani,sans-serif;
}


/* .signin_logo{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
    margin-bottom: 20px;
} */